---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Stud.IP: Rest.IP API Dokumentation</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body id="top">
    <div class="wrapper">
        <a href="https://github.com/studip/studip-rest.ip"><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
      <header>

        <h1>Stud.IP: Rest.IP</h1>
        <p>Ein alternativer, "RESTful" Ansatz für Webservices basierend auf OAuth</p>
        <h2><a href="#top">API Dokumentation</a></h2>
        <dl>
            <dt><a href="#oauth">/oauth</a></dt>
            <dd><a href="#oauth">Autorisierung</a></dd>
            <dt><a href="#api-discovery">/api/discovery</a></dt>
            <dd><a href="#api-discovery">Informationen über die API</a></dd>
            <dt><a href="#api-courses">/api/courses</a></dt>
            <dd><a href="#api-courses">Veranstaltungen</a></dd>
            <dt><a href="#api-forum">/api/courses/forum</a></dt>
            <dd><a href="#api-forum">Forum</a></dd>
            <dt><a href="#api-wiki">/api/courses/wiki</a></dt>
            <dd><a href="#api-wiki">Wiki</a></dd>
            <dt><a href="#api-documents">/api/documents</a></dt>
            <dd><a href="#api-documents">Dateien</a></dd>
            <dt><a href="#api-messages">/api/messages</a></dt>
            <dd><a href="#api-messages">Nachrichten</a></dd>
            <dt><a href="#api-news">/api/news</a></dt>
            <dd><a href="#api-news">Ankündigungen</a></dd>
            <dt><a href="#api-semesters">/api/semesters</a></dt>
            <dd><a href="#api-semesters">Semester</a></dd>
            <dt><a href="#api-studip">/api/studip</a></dt>
            <dd><a href="#api-studip">Globale Einstellungen</a></dd>
            <dt><a href="#api-user">/api/user</a></dt>
            <dd><a href="#api-user">Nutzer</a></dd>
            <dt><a href="#api-contacts">/api/contacts</a></dt>
            <dd><a href="#api-contacts">Kontakte</a></dd>
        </dl>
        <h2><a href="#api-activities">Bekannte Plugin-Routes</a></h2>
        <dl>
            <dt><a href="#api-activities">/api/activities</a></dt>
            <dd><a href="#api-activities">Aktivitäten</a></dd>
        </dl>
      </header>
      <section>
        <h2>Rest.IP</h2>

        <h3>API-Dokumentation</h3>
        <h4>Allgemeines</h4>
        <p>
            Bei jedem Request sendet die API den HTTP-Header <strong>X-Server-Timestamp</strong>
            ihren aktuellen Unix-Zeitstempel mit.
        </p>
        <p class="attention">
            Zu beachten ist, dass bei sämtlichen Nutzerrückgabe auch der Nutzer mit der Id
            <code>____%system%____</code> vorkommen kann. Dies sind system-interne Vorgänge
            bzw. Benachrichtigungen und sollten als diese gekennzeichnet werden.
        </p>

        <h4>Autorisierung</h4>
        <p>
            Der Nutzer kann sich wahlweise mittels OAuth, der Standard-Stud.IP-Session 
            oder der HTTP-<a href="http://de.wikipedia.org/wiki/HTTP-Authentifizierung#Basic_Authentication"><em>Basic Authentication</em></a>
            bei der API autorisieren.
        </p>
        <p>
            Die OAuth-Autorisierung ist in dem Kapitel <a href="#oauth">OAuth</a>
            beschrieben, während für die Stud.IP-Session-Autorisierung lediglich
            ein Cookie namens <em>Seminar_Session</em> und der gültigen Session-Id
            des entsprechenden Nutzers für den Request gesetzt werden muss. Somit
            wird die API bspw. auch für AJAX-Aufrufe interessant.
        </p>

        <h4>Aufbau der Rückgabe</h4>
        <p>
            Die API unterscheidet zwei verschiedene Modi, die den Aufbau der Rückgabe steuern.
        </p>
        <ul>
            <li>
                <h5>?mode=compact <small>(Standard)</small></h5>
                Die Rückgabe enthält lediglich die angeforderten Ressourcen des angeforderten Typs.
                Anhängige Ressourcen anderen Typs sind durch ihre eindeutige Id vermerkt.
            </li>
            <li>
                <h5>?mode=complete</h5>
                Die Rückgabe enthält die angeforderten Ressourcen des angeforderten Typs und
                zusätzlich auch die eventuell anhängigen Ressourcen eines oder mehreren anderen
                Typs.<br>
                Zur Verdeutlichung: Veranstaltungsdaten enthalten zusätzlich auch die vollständigen
                Nutzerdaten der Lehrenden und Teilnehmer sowie die vollständigen Semesterdaten der
                verbundenen Semester.
            </li>
        </ul>
        <p class="todo">
            Routen nutzen sich untereinander, um Informationen abzurufen. Ist der Zugriff
            auf ein davon untersagt, schlägt die gesamte Anfrage fehl.
        </p>

        <h4>Rückgabeformate</h4>
        <p>
            Die Rückgabe kann entweder als <strong>JSON</strong>, als serialisiertes <strong>PHP</strong>
            oder als <strong>XML</strong> erfolgen und ist immer als <strong>UTF-8</strong> kodiert.
            Das jeweilige Format wird entweder über den <code>Content-Type</code>-HTTP-Header der Anfrage
            oder durch die Dateiendung der angeforderten Ressource bestimmt. Ein Zugriff auf <code>/api/news.json</code>
            liefert die Ankündigungen eines Nutzers im JSON-Format zurück, während <code>/api/news.xml</code>
            die Ankündigungen im XML-Format zurückgeben würde.
        </p>
        <p>
            Die Beispiele in dieser Dokumentation decken vorläufig nur die zurückgegebenen JSON-Daten
            ab, da dies das bevorzugte Format ist.
        </p>
        <p>
            Methoden, die keine Rückgabe erfordern, antworten im Erfolgsfall in aller Regel
            mit einem HTTP-Status-Code von <code>200 - Success</code>. Bei Fehlern ist
            zusätzlich zu einem Status von <code>4xx</code> auch der Body der Antwort zu beachten.
            Dort findet sich eine genauere Beschreibung des Fehlers.
        </p>

        <h3>Die Routen im Detail</h3>
        {% include oauth.html %}

        {% include discovery.html %}
        {% include courses.html %}
        {% include forum.html %}
        {% include wiki.html %}
        {% include documents.html %}
        {% include messages.html %}
        {% include news.html %}
        {% include semesters.html %}
        {% include studip.html %}
        {% include user.html %}
        {% include contacts.html %}
        {% include activities.html %}
      </section>
      <footer>
        <p><a href="https://github.com/studip/studip-rest.ip">This project</a> is maintained by <a href="https://github.com/studip">studip</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/script.js"></script>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>