---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Stud.IP: Rest.IP API Dokumentation</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body id="top">
    <div class="wrapper">
        <a href="https://github.com/studip/studip-rest.ip"><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
      <header>

        <h1>Stud.IP: Rest.IP</h1>
        <p>Ein alternativer, "RESTful" Ansatz für Webservices basierend auf OAuth</p>
        <h2><a href="#top">API Dokumentation</a></h2>
        <dl>
            <dt><a href="#oauth">/oauth</a></dt>
            <dd><a href="#oauth">Autorisierung</a></dd>
            <dt><a href="#api-discovery">/api/discovery</a></dt>
            <dd><a href="#api-discovery">Informationen über die API</a></dd>
            <dt><a href="#api-courses">/api/courses</a></dt>
            <dd><a href="#api-courses">Veranstaltungen</a></dd>
            <dt><a href="#api-documents">/api/documents</a></dt>
            <dd><a href="#api-documents">Dateien</a></dd>
            <dt><a href="#api-messages">/api/messages</a></dt>
            <dd><a href="#api-messages">Nachrichten</a></dd>
            <dt><a href="#api-news">/api/news</a></dt>
            <dd><a href="#api-news">Ankündigungen</a></dd>
            <dt><a href="#api-semesters">/api/semesters</a></dt>
            <dd><a href="#api-semesters">Semester</a></dd>
            <dt><a href="#api-studip">/api/studip</a></dt>
            <dd><a href="#api-studip">Globale Einstellungen</a></dd>
            <dt><a href="#api-user">/api/user</a></dt>
            <dd><a href="#api-user">Nutzer</a></dd>
        </dl>
        <h2><a href="#api-activities">Bekannte Plugin-Routes</a></h2>
        <dl>
            <dt><a href="#api-activities">/api/activities</a></dt>
            <dd><a href="#api-activities">Aktivitäten</a></dd>
        </dl>
      </header>
      <section>
        <h2>Rest.IP</h2>

        <h3>API-Dokumentation</h3>
        <h4>Allgemeines</h4>
        <p>
            Bei jedem Request sendet die API den HTTP-Header <strong>X-Server-Timestamp</strong>
            ihren aktuellen Unix-Zeitstempel mit.
        </p>
        <p class="attention">
            Zu beachten ist, dass bei sämtlichen Nutzerrückgabe auch der Nutzer mit der Id
            <code>____%system%____</code> vorkommen kann. Dies sind system-interne Vorgänge
            bzw. Benachrichtigungen und sollten als diese gekennzeichnet werden.
        </p>

        <h4>Autorisierung</h4>
        <p>
            Die Autorisierung erfolgt mittels sogenanntem <strong>3-legged OAuth</strong>. Im
            Gegensatz zum <em>2-legged OAuth</em>, bei dem sich nur die Applikation
            beim Server autorisiert, ist beim <em>3-legged OAuth</em> zusätzlich eine
            Autorisierung des zugreifenden Nutzers erforderlich.
        </p>
        <p>
            Die Autorisierung des Nutzers erfolgt dabei vollkommen transparent, da die
            Autorisierung auf Seiten des autorisierenden Servers erfolgt. Die zur
            Autorisierung erforderlichen Nutzerdaten verlassen somit niemals das System.
        </p>
        <p>
            Der komplette Workflow von OAuth findest sich unter
            <a href="http://oauth.net/core/diagram.png">http://oauth.net/core/diagram.png</a>.
        <p>
            Weitere Details zu OAuth finden sie auf <a href="http://oauth.net">http://oauth.net</a>.
            Informationen zur Autorisierung dieser API finden Sie in der Dokumentation unter
            <a href="#oauth">/oauth</a>.
        </p>
        
        <h4>Aufbau der Rückgabe</h4>
        <p>
            Die API unterscheidet zwei verschiedene Modi, die den Aufbau der Rückgabe steuern:
        </p>
        <ul>
            <li>
                <h5>"compact" <small>(Standard)</small></h5>
                Die Rückgabe enthält lediglich die angeforderten Ressourcen des angeforderten Typs.
                Anhängige Ressourcen anderen Typs sind durch ihre eindeutige Id vermerkt.
            </li>
            <li>
                <h5>"complete"</h5>
                Die Rückgabe enthält die angeforderten Ressourcen des angeforderten Typs und
                zusätzlich auch die eventuell anhängigen Ressourcen eines oder mehreren anderen
                Typs.<br>
                Zur Verdeutlichung: Veranstaltungsdaten enthalten zusätzlich auch die vollständigen
                Nutzerdaten der Lehrenden und Teilnehmer sowie die vollständigen Semesterdaten der
                verbundenen Semester.
            </li>
        </ul>
        <p class="todo">
            Routen nutzen sich untereinander, um Informationen abzurufen. Ist der Zugriff
            auf ein davon untersagt, schlägt die gesamte Anfrage fehl.
        </p>

        <h4>Rückgabeformate</h4>
        <p>
            Die Rückgabe kann entweder im <strong>JSON</strong>- oder <strong>XML</strong>-Format erfolgen.
            Das jeweilige Format wird durch die Dateiendung der angeforderten Ressource
            bestimmt. Ein Zugriff auf <code>/api/news.json</code> liefert die Ankündigungen
            eines Nutzers im JSON-Format zurück, während <code>/api/news.xml</code>
            die Ankündigungen im XML-Format zurückgeben würde.
        </p>
        <p>
            Die Beispiele in dieser Dokumentation decken vorläufig nur die zurückgegebenen JSON-Daten
            ab, da dies das bevorzugte Format ist.
        </p>
        <p>
            Methoden, die keine Rückgabe erfordern, antworten im Erfolgsfall in aller Regel
            mit einem HTTP-Status-Code von <code>204 - No Content</code>. Bei Fehlern ist
            zusätzlich zu einem Status von <code>4xx</code> auch der Body der Antwort zu beachten.
            Dort findet sich eine genauere Beschreibung des Fehlers.
        </p>

        <h3>Die Routen im Detail</h3>
        <h4 id="oauth">/oauth - Autorisierung</h4>
        <p>
            Die 3 Endpunkte der Autorisierung sind die folgenden:
        </p>
        <ol>
            <li>
                <h5>/oauth/request_token</h5>
                Fragt einen temporären, unautorisierten Token beim Server ab.
            </li>
            <li>
                <h5>/oauth/authorize</h5>
                In diesem Schritt wird dem Benutzer ein Dialog angezeigt, in dem
                er zustimmen muss, den Token aus Schritt 1 zu autorisieren.
            </li>
            <li>
                <h5>/oauth/access_token</h5>
                Holt ein dauerhaftes, autorisiertes Token im Austausch gegen das
                in Schritt 2 autorierte Token.
            </li>
        </ol>
        <p>
            Für die Autorisierung werden weiterhin die beiden Schlüssel
            <code>consumer_key</code> und <code>consumer_secret</code>
            benötigt, welche vom Betreiber der jeweiligen Stud.IP-Instanz
            vergeben werden.
        </p>

        {% include discovery.html %}
        {% include courses.html %}
        {% include documents.html %}
        {% include messages.html %}
        {% include news.html %}
        {% include semesters.html %}
        {% include studip.html %}
        {% include user.html %}
        {% include activities.html %}
      </section>
      <footer>
        <p><a href="https://github.com/studip/studip-rest.ip">This project</a> is maintained by <a href="https://github.com/studip">studip</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>