<h4 id="api-activities">/api/activities - Aktivitäten</h4>
<h5>GET</h5>
<p>
    Liefert die Aktivitäten im Umfeld des autorisierten Nutzers zurück.
</p>
{% capture example %}{% include examples/activities.json %}{% endcapture %}
{{ example }}
{% highlight json %}{{ '{"foo":42}' }}{% endhighlight %}
<p class="todo">
    Diese Route wurde versuchsweise in das
    <a href="http://plugin-dev.studip.de/index.php/Plugins/00062">ActivityFeed</a>-Plugin
    von Elmar Ludwig eingebaut und ist noch experimentell.
</p>
