<h4 id="api-courses">/api/courses - Belegte Veranstaltungen</h4>
<h5>GET</h5>
<p>
    Liefert die Veranstaltungen zurück, in die der Nutzer eingetragen ist.
</p>
{% highlight js linenos %}{% include examples/courses.json %}{% endhighlight %}

<h4>/api/courses/<em>:course_id</em> - Daten einer Veranstaltung</h4>
<h5>GET</h5>
<p>
    Liefert die Daten der angegebenen Veranstaltung zurück.
</p>
{% highlight js linenos %}{% include examples/courses-course_id.json %}{% endhighlight %}

<h4>/api/courses/<em>:course_id</em>/members - Teilnehmer einer Veranstaltung</h4>
<h5>GET</h5>
<p>Liefert die eingetragenen Nutzer einer Veranstaltung zurück.</p>
{% highlight js linenos %}{% include examples/courses-course_id-members.json %}{% endhighlight %}

<h4>/api/courses/<em>:course_id</em>/members/<em>:status</em> - Bestimmte Teilnehmer einer Veranstaltung</h4>
<h5>GET</h5>
<p>Liefert die eingetragenen Nutzer mit dem angegebenen Status einer Veranstaltung zurück.</p>
{% highlight js linenos %}{% include examples/courses-course_id-members-status.json %}{% endhighlight %}

<h4>/api/courses/<em>:course_id</em>/wiki - Alle Wikiseiten einer Veranstaltung</h4>
<h5>GET</h5>
<p>Liefert alle Schlüsselwörter der Wikiseiten einer Veranstaltung zurück.</p>
{% highlight js linenos %}{% include examples/courses-course_id-wiki.json %}{% endhighlight %}

<h4>/api/courses/<em>:course_id</em>/wiki/<em>:page</em>(/<em>:version</em>) - Eine Wikiseite einer Veranstaltung (in einer bestimmten Version)</h4>
<h5>GET</h5>
<p>Liefert eine bestimmte Wikiseite einer Veranstaltung (in einer bestimmten Version) zurück.</p>
{% highlight js linenos %}{% include examples/courses-course_id-wiki-page.json %}{% endhighlight %}

<h4>/api/courses/semester - Belegte Semester</h4>
<h5>GET</h5>
<p>
    Liefert alle Semester zurück, in denen der Nutzer in mindestens eine
    Veranstaltung eingetragen ist. 
</p>
{% highlight js linenos %}{% include examples/courses-semester.json %}{% endhighlight %}

<h4>/api/courses/semester/<em>:semester_id</em> - Belegte Veranstaltungen eines Semesters</h4>
<h5>GET</h5>
<p>
    Liefert die Veranstaltungen zurück, in die der Nutzer in dem angegebenen
    Semester eingetragen ist.
</p>
{% highlight js linenos %}{% include examples/courses-semester-semester_id.json %}{% endhighlight %}
