<h4 id="api-messages">/api/messages/<em>:box</em> - Nachrichtenordner auslesen</h4>
<h5>GET</h5>
<p>
    Liefert die vorhandenen Nachrichtenordner des autorisierten Nutzers zurück. Der Parameter
    bestimmt je nach Wert, auf welchen Bereich zugegriffen werden soll:
</p>
<ul>
    <li><h5>in</h5>Nachrichteneingang</li>
    <li><h5>out</h5>Nachrichtenausgang</li>
</ul>
{% highlight json linenos %}{% include examples/messages-box.json %}{% endhighlight %}

<h4>/api/messages/<em>:message_id</em> - Daten einer Nachricht</h4>
<h5>GET</h5>
<p>
    Liefert die Daten der angegebenen Nachricht zurück.
</p>
{% highlight json linenos %}{% include examples/messages-message_id.json %}{% endhighlight %}

<h5>DELETE</h5>
<p>
    Löscht die übergebene Nachricht.
</p>
<p>
    HTTP-Status der Rückgabe:
</p>
<ul>
    <li><code>204</code> bei Erfolg</li>
    <li><code>403</code> wenn die Nachricht nicht gelöscht werden darf</li>
    <li><code>404</code> wenn die Nachricht nicht gefunden wurde</li>
</ul>

<h4>/api/messages/<em>:message_id</em>/read - Nachricht als gelesen markieren</h4>
<h5>POST</h5>
<p>
    Markiert die angegebene Nachricht als gelesen.
</p>
<p>
    HTTP-Status der Rückgabe:
</p>
<ul>
    <li><code>204</code> bei Erfolg</li>
    <li><code>404</code> wenn die Nachricht nicht gefunden wurde</li>
</ul>

<h4>/api/messages/<em>:box</em>/<em>:folder</em> - Nachrichten eines Ordners auslesen</h4>
<h5>GET</h5>
<p>
    Liefert die vorhandenen Nachrichten eines Ordners des autorisierten Nutzers
    zurück.
</p>
{% highlight json linenos %}{% include examples/messages-box-folder.json %}{% endhighlight %}

<h4>/api/messages/<em>:message_id</em>/move/<em>:folder</em> - Nachricht in Ordner verschieben</h4>
<h5>POST</h5>
<p>
    Verschiebt die angegebene Nachricht in den angegebenen Ordner.
</p>
<p>
    HTTP-Status der Rückgabe:
</p>
<ul>
    <li><code>204</code> bei Erfolg</li>
    <li><code>404</code> wenn die Nachricht oder der Ordner nicht gefunden wurde</li>
</ul>
