<h4 id="api-user">/api/user/&lt;<em>:user_id</em>&gt; - Nutzerdaten</h4>
<h5>GET</h5>
<p>
    Liefert die Daten des Nutzers mit der angegebenen Id zurück. Ist keine Id
    angegeben, so werden die Daten des autorisierten Nutzers zurückgegeben.
</p>
{% highlight js linenos %}{% include examples/user.json %}{% endhighlight %}

<h4>/api/user/<em>:user_id</em></h4>
<h5>DELETE</h5>
<p>
    Löscht einen Nutzer.
</p>
<p>
    HTTP-Status der Rückgabe:
</p>
<ul>
    <li><code>200</code> wenn der Nutzer gelöscht wurde</li>
    <li><code>404</code> falls der Nutzer nicht existiert</li>
    <li><code>500</code> falls der Nutzer nicht gelöscht werden konnte</li>
</ul>

<h4>/api/user/<em>:user_id</em>/institutes</h4>
<h5>GET</h5>
<p>
    Liefert die Einrichtungen zurück, an denen ein Nutzer arbeitet bzw. studiert.
</p>
{% highlight js linenos %}{% include examples/user-institutes.json %}{% endhighlight %}