<h4 id="api-wiki">/api/courses/<em>:course_id</em>/wiki - Wiki-Seiten einer Veranstaltung</h4>
<h5>GET</h5>
<p>Liefert alle im Wiki vorhandenen Seiten zurück.</p>
{% highlight js linenos %}{% include examples/wiki.json %}{% endhighlight %}

<h4>/api/courses/<em>:course_id</em>/wiki/<em>:page</em>(/<em>:version</em>) - Einzelne Wiki-Seite einer Veranstaltung</h4>
<h5>GET</h5>
<p>Liefert die Daten einer einzelnen Seite (in einer bestimmten Version) zurück.
{% highlight js linenos %}{% include examples/wiki-keyword.json %}{% endhighlight %}
